@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao mundo da Sanrio!</h1>
</div>

<div class="text-conteudo">
    <h2> Venha conhecer os personagens !</h2>
</div>



<div class="personagens-conteudo">

    <div class="personagens">
        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/1ec9c187-9579-42d4-be9e-f4161e8df9e1/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Hello Kitty">
            <div class="card-body">
                <h5 class="card-title">Hello Kitty</h5>
                <p class="card-text">
                <p>Hello Kitty nasceu nos subúrbios de Londres. Ela mora com seus pais e sua irmã gêmea, Mimmy, que é sua melhor amiga. Seus hobbies incluem fazer biscoitos e fazer novos amigos. Como ela sempre diz, "amigos nunca são demais!</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/5852af06-d85c-4fe2-8f10-cd267bfa1ba8/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Aggretsuko">
            <div class="card-body">
                <h5 class="card-title">Aggretsuko</h5>
                <p class="card-text">
                <p>Aggretsuko é um panda vermelho solteiro de 25 anos. No entanto, apesar de sua aparência fofa, algo dentro dela está cheio de raiva. Aggretsuko sempre sonhou em trabalhar em Contabilidade, principalmente na parte de Tóquio onde fica seu escritório. Mas ela não imaginava que seria assim!</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/0465384c-9563-417b-b638-517529f21c3c/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Aggretsuko">
            <div class="card-body">
                <h5 class="card-title">My Melody</h5>
                <p class="card-text">
                <p>My Melody nasceu na floresta de Mariland. Seu passatempo favorito é assar biscoitos com sua mãe, e sua comida favorita é bolo de amêndoa. Ela gosta de comer bolo com seu melhor amigo, um rato chamado Flat.</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/8d422960-483f-4775-b943-9bc7bec68229/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Aggretsuko">
            <div class="card-body">
                <h5 class="card-title">Chococat</h5>
                <p class="card-text">
                <p>Chococat tende a ser um pouco desmiolado às vezes, mas está sempre atualizado com as últimas notícias, graças aos seus bigodes ultrassensíveis de “antena”! Ele leva o nome de seu nariz cor de chocolate. Chococat se diverte brincando com seu amigo Cookie-Bau, o cachorro, Nutz, o hamster, Jellybean, o coelho e os Patinhos!</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/2121ec60-de9e-4d21-b11c-7eb9365ebe1f/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Aggretsuko">
            <div class="card-body">
                <h5 class="card-title">Cinnamoroll</h5>
                <p class="card-text">
                <p>Cinnamoroll é o mascote oficial do Cafe Cinnamon. Ele é bastante tímido, mas muito simpático, e às vezes tira uma soneca no colo dos clientes. Ele pode voar pelo ar batendo suas enormes orelhas.</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/236b97bf-2a2e-4ebf-a08d-cbca878ee674/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Aggretsuko">
            <div class="card-body">
                <h5 class="card-title">Keroppi</h5>
                <p class="card-text">
                <p>Keroppi mora com seu irmão, irmã e pais em uma grande casa à beira do Donut Pond, o maior e mais azul lago da região. Os amigos de Keroppi compartilham seu amor por jogos, especialmente beisebol e bumerangues.</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/c028bb2b-a00c-4c3e-8b05-404065588441/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Aggretsuko">
            <div class="card-body">
                <h5 class="card-title">LittleTwinStars</h5>
                <p class="card-text">
                <p>Kiki e Lala são duas estrelas gêmeas nascidas na Estrela Omoiyari na Nuvem Estelar Yume. Eles viajaram um longo caminho até a Terra para aprender a ser as melhores e mais brilhantes estrelas que podem ser. Lala é a mais velha, adora desenhar e escrever poemas e é uma ótima cozinheira! Kiki está cheio de curiosidade sobre tudo, o que o torna um pouco atrevido às vezes.</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/d4d32e40-f454-4eee-b0ee-43a03f927768/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Kuromi">
            <div class="card-body">
                <h5 class="card-title">Kuromi</h5>
                <p class="card-text">
                <p>Kuromi é uma moleca, mas por trás de sua aparência difícil, ela é realmente muito feminina. Ela gosta de escrever em seu diário e ler romances.</p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="https://i.shgcdn.com/babff9c2-14f7-45cc-99e5-49202494b0f4/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="card-img-top" alt="Badtz-maru">
            <div class="card-body">
                <h5 class="card-title">Badtz-maru</h5>
                <p class="card-text">
                <p>Badtz-maru é um pequeno pinguim travesso. Ele mora com a mãe e o pai que joga pinball em Gorgeoustown. Badtz-maru atrai muita atenção ao passear com seu crocodilo de estimação, Pochi. Badtz-maru tem sonhos de grandeza quando crescer, mas por enquanto ele revira os olhos para sua vida divertida em Gorgeoustown.</p>
            </div>
        </div>

    </div>

    <div class="text-final">
        <h2> Um personagem mais fofinho que o outro! Mas eai, qual personagem você gostou mais?</h2>
        <img src="https://resize.cdn.otakumode.com/ex/1200.630/0.131.1032.544/u/8fb26fd6023a4b2e8bf88d37d73510b2.jpg" alt="Sanrio">
    </div>

    <div class="text-agradecimento">
        <h2> Obrigada pela Visita! </h2>
    </div>
